<p>
  <b>Name:</b>
  <%=h @usecasecluster.name %>
</p>

<p>
  <b>Note:</b>
  <%=h @usecasecluster.note %>
</p>


<%= link_to 'Edit', edit_usecasecluster_path(@usecasecluster) %> |
<%= link_to 'Back', usecaseclusters_path %>