<%= render :partial => "shared/menu_bar"%>

<h2>Create Usecase</h2>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">General</a></li>
	</ul>
	<div id="tabs-1">
		<%= render :partial => "form" %>
	</div>
</div>

<%= link_to 'Back', usecases_path %>